<%= form_with method: :get do |form| %>
  <div data-controller="toggle-filter" data-action="click->toggle-filter#checkboxSelect">
    <% Dog.get_breeds.each do |breed| %>
        <%= form.check_box breed %>
        <%= form.label breed %>
    <% end %>
  </div>
<% end %>
