<div class="container">
  <div data-controller="toggle">
    <i class="fa-solid fa-filter">Filter</i>
    <%= render "form" %>
  </div>
</div>

  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-md-6 col-sm-12">
        <%= render 'card', dog: dog %>
      </div>
    <% end %>
  </div>
</div>
