<div class="container">
  <i class="fa-solid fa-filter"></i>
</div>

<div class="card-product">
  <% @dogs.each do |dog| %>
   <img src="<%= dog.photos %>" style="height: 100%; width: 120px; object-fit:cover"/>
    <div class="card-product-infos">
    <h2><%= dog.name %></h2>
    <p><%= dog.breed %> | <%= dog.personality %></p>
  </div>
  <% end %>
</div>
